{% extends 'base.html.twig' %}

{% block title %}Weather Or Not{% endblock %}

{% block body %}

<div class="container container-fluid">
   <div id="weather-app" >
       <div class="">
           <div class="spinner-border mt-5" role="status">
               <span class="sr-only">Loading...</span>
           </div>
       </div>
   </div>
</div>
{% endblock %}
