{% extends "base.html.twig" %}




{% block body %}
    <div class="container container-fluid">
        <div class="card mt-5">
            <div class="card-header">Congrats. You are Registered!</div>
            <div class="card-body">
                <a href="/">Continue to site</a>

            </div>
        </div>
    </div>
{% endblock body %}
