{% extends "base.html.twig" %}

{% block body %}
    <div class="container container-fluid">
    <div class="card mt-5">
        <div class="card-header">Register</div>
        <div class="card-body">
            {% include "@FOSUser/Registration/register_content.html.twig" %}

        </div>
    </div>
    </div>
{% endblock body %}
